<!DOCTYPE html>
<html>
<head>
	<title> LUNCHER </title>

</head>
	<body>
		<h1> LUNCHER</h1>
		<%= link_to 'About', about_path %>
		<h2> Hola Mundo</h2>
		<p> Hola1</p>
		<p> Hola2</p>


	</body>
</html>